# Changes in general
* @skriptlang/core-developers

# Protect github files
/.github/ @skriptlang/core-maintainers

# Changes to code (specified for future granularity)
/src/main/java/ @skriptlang/core-developers

# Changes to tests (specified for future granularity)
/src/test/ @skriptlang/core-developers

# Changes to critical code
/src/main/java/org/skriptlang/skript/lang/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/lang/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/variables/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/yggdrasil/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/Skript.java @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/test/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/patterns/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/expressions/base/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/conditions/base/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/config/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/classes/ @skriptlang/core-maintainers @skriptlang/core-developers
/src/main/java/ch/njol/skript/classes/data/ @skriptlang/core-developers # classes is critical but classes/data is not

# Personal specialties

# Runtime errors
/src/main/java/org/skriptlang/skript/log/runtime/ @sovdeeth @skriptlang/core-developers
/src/main/java/org/skriptlang/skript/bukkit/log/runtime/ @sovdeeth @skriptlang/core-developers

# Tags
/src/main/java/org/skriptlang/skript/bukkit/tags/ @sovdeeth @skriptlang/core-developers

# Conditionals
/src/main/java/org/skriptlang/skript/lang/condition/ @sovdeeth @skriptlang/core-developers

# Displays/Rotation
/src/main/java/org/skriptlang/skript/bukkit/misc/rotation/ @sovdeeth @skriptlang/core-developers
/src/main/java/org/skriptlang/skript/bukkit/displays/ @sovdeeth @skriptlang/core-developers

# Commands
/src/main/java/ch/njol/skript/command/ @sovdeeth @skriptlang/core-developers

# Aliases
/src/main/java/ch/njol/skript/aliases @sovdeeth @skriptlang/core-developers

# Registration API
/src/main/java/org/skriptlang/skript/registration/ @APickledWalrus @skriptlang/core-developers
/src/main/java/org/skriptlang/skript/bukkit/registration/ @APickledWalrus @skriptlang/core-developers
/src/main/java/org/skriptlang/skript/addon/ @APickledWalrus @skriptlang/core-developers

# EntryData
/src/main/java/org/skriptlang/skript/lang/entry/ @APickledWalrus @skriptlang/core-developers

# Arithmetic
/src/main/java/org/skriptlang/skript/lang/arithmetic/ @UnderscoreTud @skriptlang/core-developers
/src/main/java/ch/njol/skript/expressions/arithmetic/ @UnderscoreTud @skriptlang/core-developers

# Input API
/src/main/java/org/skriptlang/skript/bukkit/input/ @UnderscoreTud @skriptlang/core-developers

# Documentation
/src/main/java/ch/njol/skript/doc/@Efnilite @skriptlang/core-developers

# Functions
/src/main/java/ch/njol/skript/lang/function @Efnilite @skriptlang/core-developers
/src/main/java/org/skriptlang/skript/lang/function @Efnilite @skriptlang/core-developers

# EntityData
/src/main/java/ch/njol/skript/entity @Absolutionism @skriptlang/core-developers

# Particles/Effects
/src/main/java/org/skriptlang/skript/bukkit/particles @sovdeeth @skriptlang/core-developers
